services:
  backend:
    image: backend-local        # נשתמש באימג' שנבנה ידנית
    container_name: backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    depends_on:
      - redis

  redis:
    image: redis:alpine
    container_name: redis
